@-moz-keyframes glitch {
  0% {
    -moz-transform: skew(-57deg);
    transform: skew(-57deg);
  }
  5% {
    -moz-transform: skew(90deg);
    transform: skew(90deg);
  }
  10% {
    -moz-transform: skew(66deg);
    transform: skew(66deg);
  }
  15% {
    -moz-transform: skew(23deg);
    transform: skew(23deg);
  }
  20% {
    -moz-transform: skew(56deg);
    transform: skew(56deg);
  }
  25% {
    -moz-transform: skew(-27deg);
    transform: skew(-27deg);
  }
  30% {
    -moz-transform: skew(-28deg);
    transform: skew(-28deg);
  }
  35% {
    -moz-transform: skew(21deg);
    transform: skew(21deg);
  }
  40% {
    -moz-transform: skew(30deg);
    transform: skew(30deg);
  }
  45% {
    -moz-transform: skew(36deg);
    transform: skew(36deg);
  }
  50% {
    -moz-transform: skew(-62deg);
    transform: skew(-62deg);
  }
  55% {
    -moz-transform: skew(-1deg);
    transform: skew(-1deg);
  }
  60% {
    -moz-transform: skew(58deg);
    transform: skew(58deg);
  }
  65% {
    -moz-transform: skew(59deg);
    transform: skew(59deg);
  }
  70% {
    -moz-transform: skew(79deg);
    transform: skew(79deg);
  }
  75% {
    -moz-transform: skew(-17deg);
    transform: skew(-17deg);
  }
  80% {
    -moz-transform: skew(8deg);
    transform: skew(8deg);
  }
  85% {
    -moz-transform: skew(63deg);
    transform: skew(63deg);
  }
  90% {
    -moz-transform: skew(-87deg);
    transform: skew(-87deg);
  }
  95% {
    -moz-transform: skew(45deg);
    transform: skew(45deg);
  }
}
@-webkit-keyframes glitch {
  0% {
    -webkit-transform: skew(70deg);
    transform: skew(70deg);
  }
  5% {
    -webkit-transform: skew(-82deg);
    transform: skew(-82deg);
  }
  10% {
    -webkit-transform: skew(84deg);
    transform: skew(84deg);
  }
  15% {
    -webkit-transform: skew(67deg);
    transform: skew(67deg);
  }
  20% {
    -webkit-transform: skew(-2deg);
    transform: skew(-2deg);
  }
  25% {
    -webkit-transform: skew(65deg);
    transform: skew(65deg);
  }
  30% {
    -webkit-transform: skew(-31deg);
    transform: skew(-31deg);
  }
  35% {
    -webkit-transform: skew(50deg);
    transform: skew(50deg);
  }
  40% {
    -webkit-transform: skew(-76deg);
    transform: skew(-76deg);
  }
  45% {
    -webkit-transform: skew(34deg);
    transform: skew(34deg);
  }
  50% {
    -webkit-transform: skew(-54deg);
    transform: skew(-54deg);
  }
  55% {
    -webkit-transform: skew(-63deg);
    transform: skew(-63deg);
  }
  60% {
    -webkit-transform: skew(-16deg);
    transform: skew(-16deg);
  }
  65% {
    -webkit-transform: skew(37deg);
    transform: skew(37deg);
  }
  70% {
    -webkit-transform: skew(-49deg);
    transform: skew(-49deg);
  }
  75% {
    -webkit-transform: skew(23deg);
    transform: skew(23deg);
  }
  80% {
    -webkit-transform: skew(-28deg);
    transform: skew(-28deg);
  }
  85% {
    -webkit-transform: skew(-21deg);
    transform: skew(-21deg);
  }
  90% {
    -webkit-transform: skew(-61deg);
    transform: skew(-61deg);
  }
  95% {
    -webkit-transform: skew(52deg);
    transform: skew(52deg);
  }
}
@keyframes glitch {
  0% {
    -moz-transform: skew(-39deg);
    -ms-transform: skew(-39deg);
    -webkit-transform: skew(-39deg);
    transform: skew(-39deg);
  }
  5% {
    -moz-transform: skew(16deg);
    -ms-transform: skew(16deg);
    -webkit-transform: skew(16deg);
    transform: skew(16deg);
  }
  10% {
    -moz-transform: skew(-3deg);
    -ms-transform: skew(-3deg);
    -webkit-transform: skew(-3deg);
    transform: skew(-3deg);
  }
  15% {
    -moz-transform: skew(36deg);
    -ms-transform: skew(36deg);
    -webkit-transform: skew(36deg);
    transform: skew(36deg);
  }
  20% {
    -moz-transform: skew(87deg);
    -ms-transform: skew(87deg);
    -webkit-transform: skew(87deg);
    transform: skew(87deg);
  }
  25% {
    -moz-transform: skew(-31deg);
    -ms-transform: skew(-31deg);
    -webkit-transform: skew(-31deg);
    transform: skew(-31deg);
  }
  30% {
    -moz-transform: skew(-47deg);
    -ms-transform: skew(-47deg);
    -webkit-transform: skew(-47deg);
    transform: skew(-47deg);
  }
  35% {
    -moz-transform: skew(-84deg);
    -ms-transform: skew(-84deg);
    -webkit-transform: skew(-84deg);
    transform: skew(-84deg);
  }
  40% {
    -moz-transform: skew(56deg);
    -ms-transform: skew(56deg);
    -webkit-transform: skew(56deg);
    transform: skew(56deg);
  }
  45% {
    -moz-transform: skew(-18deg);
    -ms-transform: skew(-18deg);
    -webkit-transform: skew(-18deg);
    transform: skew(-18deg);
  }
  50% {
    -moz-transform: skew(-65deg);
    -ms-transform: skew(-65deg);
    -webkit-transform: skew(-65deg);
    transform: skew(-65deg);
  }
  55% {
    -moz-transform: skew(64deg);
    -ms-transform: skew(64deg);
    -webkit-transform: skew(64deg);
    transform: skew(64deg);
  }
  60% {
    -moz-transform: skew(-85deg);
    -ms-transform: skew(-85deg);
    -webkit-transform: skew(-85deg);
    transform: skew(-85deg);
  }
  65% {
    -moz-transform: skew(-77deg);
    -ms-transform: skew(-77deg);
    -webkit-transform: skew(-77deg);
    transform: skew(-77deg);
  }
  70% {
    -moz-transform: skew(31deg);
    -ms-transform: skew(31deg);
    -webkit-transform: skew(31deg);
    transform: skew(31deg);
  }
  75% {
    -moz-transform: skew(6deg);
    -ms-transform: skew(6deg);
    -webkit-transform: skew(6deg);
    transform: skew(6deg);
  }
  80% {
    -moz-transform: skew(3deg);
    -ms-transform: skew(3deg);
    -webkit-transform: skew(3deg);
    transform: skew(3deg);
  }
  85% {
    -moz-transform: skew(-64deg);
    -ms-transform: skew(-64deg);
    -webkit-transform: skew(-64deg);
    transform: skew(-64deg);
  }
  90% {
    -moz-transform: skew(-79deg);
    -ms-transform: skew(-79deg);
    -webkit-transform: skew(-79deg);
    transform: skew(-79deg);
  }
  95% {
    -moz-transform: skew(63deg);
    -ms-transform: skew(63deg);
    -webkit-transform: skew(63deg);
    transform: skew(63deg);
  }
}
@-moz-keyframes noise {
  0% {
    background-position: -33px 67px;
  }
  10% {
    background-position: -10px 70px;
  }
  20% {
    background-position: -14px 73px;
  }
  30% {
    background-position: -9px -12px;
  }
  40% {
    background-position: -16px 94px;
  }
  50% {
    background-position: 42px -79px;
  }
  60% {
    background-position: 78px 28px;
  }
  70% {
    background-position: -10px -59px;
  }
  80% {
    background-position: 87px -53px;
  }
  90% {
    background-position: -84px 51px;
  }
}
@-webkit-keyframes noise {
  0% {
    background-position: -31px -6px;
  }
  10% {
    background-position: 9px -61px;
  }
  20% {
    background-position: 11px -72px;
  }
  30% {
    background-position: 81px 34px;
  }
  40% {
    background-position: 68px -63px;
  }
  50% {
    background-position: -62px -50px;
  }
  60% {
    background-position: -31px -63px;
  }
  70% {
    background-position: -34px -55px;
  }
  80% {
    background-position: 28px 21px;
  }
  90% {
    background-position: 28px 60px;
  }
}
@keyframes noise {
  0% {
    background-position: -68px -46px;
  }
  10% {
    background-position: 13px -40px;
  }
  20% {
    background-position: -52px 53px;
  }
  30% {
    background-position: -87px -26px;
  }
  40% {
    background-position: -45px -35px;
  }
  50% {
    background-position: -90px 45px;
  }
  60% {
    background-position: -61px 57px;
  }
  70% {
    background-position: -84px -2px;
  }
  80% {
    background-position: -11px -34px;
  }
  90% {
    background-position: 28px -30px;
  }
}
@-moz-keyframes bar {
  0% {
    height: 541px;
    top: 36%;
    opacity: 0.33;
  }
  10% {
    height: 100px;
    top: 16%;
    opacity: 0.21;
  }
  20% {
    height: 419px;
    top: 15%;
    opacity: 0.07;
  }
  30% {
    height: 537px;
    top: 97%;
    opacity: 0.3;
  }
  40% {
    height: 517px;
    top: 42%;
    opacity: 0.1;
  }
  50% {
    height: 240px;
    top: 89%;
    opacity: 0.03;
  }
  60% {
    height: 119px;
    top: 33%;
    opacity: 0.08;
  }
  70% {
    height: 629px;
    top: 63%;
    opacity: 0.5;
  }
  80% {
    height: 102px;
    top: 17%;
    opacity: 0.34;
  }
  90% {
    height: 356px;
    top: 31%;
    opacity: 0.51;
  }
}
@-webkit-keyframes bar {
  0% {
    height: 486px;
    top: 2%;
    opacity: 0.58;
  }
  10% {
    height: 34px;
    top: 50%;
    opacity: 0.07;
  }
  20% {
    height: 551px;
    top: 34%;
    opacity: 0.37;
  }
  30% {
    height: 199px;
    top: 5%;
    opacity: 0.67;
  }
  40% {
    height: 258px;
    top: 67%;
    opacity: 0.45;
  }
  50% {
    height: 39px;
    top: 52%;
    opacity: 0.22;
  }
  60% {
    height: 39px;
    top: 23%;
    opacity: 0.22;
  }
  70% {
    height: 39px;
    top: 67%;
    opacity: 0.22;
  }
  80% {
    height: 39px;
    top: 38%;
    opacity: 0.22;
  }
  90% {
    height: 39px;
    top: 14%;
    opacity: 0.22;
  }
}
@keyframes bar {
  0% {
    height: 413px;
    top: 0%;
    opacity: 0.26;
  }
  10% {
    height: 125px;
    top: 67%;
    opacity: 0.26;
  }
  20% {
    height: 527px;
    top: 38%;
    opacity: 0.15;
  }
  30% {
    height: 597px;
    top: 14%;
    opacity: 0.43;
  }
  40% {
    height: 125px;
    top: 69%;
    opacity: 0.73;
  }
  50% {
    height: 562px;
    top: 41%;
    opacity: 0.53;
  }
  60% {
    height: 397px;
    top: 8%;
    opacity: 0.16;
  }
  70% {
    height: 397px;
    top: 16%;
    opacity: 0.16;
  }
  80% {
    height: 397px;
    top: 52%;
    opacity: 0.16;
  }
  90% {
    height: 397px;
    top: 47%;
    opacity: 0.16;
  }
}
.glitch {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  color: #fff;
  text-align: center;
  text-transform: uppercase;
  font: 15px "Michroma", helvetica, sans-serif;
  letter-spacing: 0.6em;
  background-image: url(whitenoise-361x370op20.png);
  text-shadow: 2px 0 1px #f6050a, -2px 0 1px #1cf2f2;
  -moz-animation: noise 0.3s infinite;
  -webkit-animation: noise 0.3s infinite;
  animation: noise 0.3s infinite;
}
.glitch:before {
  content: "";
  display: inline-block;
  vertical-align: middle;
  height: 99%;
}
.glitch:after {
  content: "";
  display: block;
  position: absolute;
  left: 0;
  right: 0;
  background: url(whitenoise-361x370op40.png);
  -moz-animation: bar 0.5s infinite;
  -webkit-animation: bar 0.5s infinite;
  animation: bar 0.5s infinite;
}
.glitch span {
  display: inline-block;
  vertical-align: middle;
  position: relative;
  z-index: 1;
  -moz-animation: glitch 3s infinite alternate;
  -webkit-animation: glitch 3s infinite alternate;
  animation: glitch 3s infinite alternate;
}
